<p>
  <strong>Commenter:</strong>
  <%= @comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.body %>
</p>
<br>
<%= link_to "<< Return to all comments", article_comments_path(@article) %>